/* ======= base style ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: 'Tajawal', sans-serif !important;
}
body{
  position: relative;
}
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: rgba(85, 85, 85, 0.2);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #393839;
  border-radius: 1ex;
}

.nav-style {
  height: 80px;
}
.nav-font {
  overflow: hidden; 
  padding: 1px;
}
.sticky-navbar {
  z-index: 100;
  top: 0;
  left: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  background: #fff;
}
.logo {
  /* height: 72px; */
  width: 150px;
}
.img-card {
  height: 240px;
  object-fit: cover;
}
.bag-background {
  /* background-color: #c4be99; */
  background-color: #eaedf0;
}
/* .border-top{
  border-top: #393839 solid 0px !important;
  width: 90%;
  margin: auto;
  /* padding-bottom: 10px; */

.card-wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  overflow: hidden;
}
.card-title {
  font-weight: 600;
}
.mt-4{
  margin: 0!important;
}
.card-body {
  height: 198px;
  background-color: #eaedf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card{
  height: 100%  ;
}
.cart-header {
  margin-top: 10px;
  font-size: 42px;
  font-weight: 600;
  overflow: hidden;
}
.cart-text {
  font-size: 20px;
}
.calculator-heading {
  font-weight: bold;
  font-size: 18px;
}
.calculator-text {
  font-size: 18px;
}
.total-price-text {
  font-size: 20px;
  font-weight: bold;
}
.border-bottom {
  border-bottom: #393839 solid 1px !important;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.border-top {
  border-top: #393839 solid 1px !important;
  padding-top: 30px;
  margin-top: 25px;
  padding-bottom: 50px;
  overflow: hidden;
}
.calculator-details {
  /* border-bottom: #393839 solid 1px !important; */
  padding-bottom: 15px;
}
/* .delete-btn{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
   opacity: 1;
}
.delete-btn:focus{
  opacity: 0 !important;
} */
.btn-animation{
  position: relative;
  background-color: #255066;
  /* border-radius: 4em; */
  /* font-size: 16px; */
  /* color: white; */
  /* padding: 0.8em 1.8em; */
  /* cursor:pointer; */
  /* user-select:none; */
  /* text-align: center; */
  text-decoration: none;
  /* cursor: pointer; */
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.btn-animation:hover {
  transition-duration: 0.1s;
  background-color: #346984;
}

.btn-animation:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0px;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.btn-animation:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.btn-animation:active {
  top: 4px;
}

.intro-heading{
  font-weight: bold;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro-text{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}

/* @import url(//codepen.io/chrisdothtml/pen/ojLzJK.css); */
/* Main Styles */
.button-wrapper{
  height: 36px;
  width: 150px;
  margin: auto;
}
.button-animate-dev {
  border: none;
  overflow: hidden !important;
  display: block;
  background-color: #393839;
  width: 150px;
  height: 36px;
  /* line-height: 100px; */
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button-animate-dev span,
.button-animate-dev .icon {
  overflow: hidden;
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button-animate-dev span {
  width: 72%;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button-animate-dev span:after {
  content: "";
  background-color: #000;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button-animate-dev .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-animate-dev .icon .fa {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button-animate-dev .icon .fa-remove {
  height: 36px;
}
.button-animate-dev .icon .fa-check {
  display: none;
}
.button-animate-dev.success span, .button-animate-dev:hover span {
  left: -72%;
  opacity: 0;
}
.button-animate-dev.success .icon, .button-animate-dev:hover .icon {
  width: 100%;
}
.button-animate-dev.success .icon .fa, .button-animate-dev:hover .icon .fa {
  font-size: 25px;
}
.button-animate-dev.success {
  background-color: #27ae60;
}
.button-animate-dev.success .icon .fa-remove {
  display: none;
}
.button-animate-dev.success .icon .fa-check {
  display: inline-block;
}
.button-animate-dev:hover {
  opacity: 0.9;
}
.button-animate-dev:hover .icon .fa-remove {
  height: 46px;
}
.button-animate-dev:active {
  opacity: 1;
}

/* .successfully-saved {
} */
@media screen and (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    max-width: 300px !important;
    width: 25%;
  }
}
